	
._39oUCO1OuizVPwcnnv88no {
    height: 40px !important;
}
._39oUCO1OuizVPwcnnv88no ._3s0lkohH8wU2do0K1il28Y {
    margin-top: 0px !important;
}

._25lBLzuVeYAUG279up4xP8 {
    color: #dcdedf !important;
}
._2UyOBeiSdBayaFdRa39N2O {
    /* padding: 0px 0px 4px !important; */
}

._3Z3ohQ8-1NKnCZkbS6fvy {
    /* height: 0px !important; */
    /* min-height: 0px !important; */
    /* padding-left: 40px; */
    padding-top: 5px;
    left: 40px;
    position: absolute;
    padding-left: 0px;
}

._39oUCO1OuizVPwcnnv88no {
    background: var(--color-darker) !important;
}

._39oUCO1OuizVPwcnnv88no ._1-9sir4j_KQiMqdkZjQN0u {
    position: fixed !important;
    /* top: 35px !important; */
    right: 90px !important;
    /* padding-top: 2.5px; */
    top: 3px;
}

.bSKGlAJG2UVWTsntEJY2v {
    font-size: 0px;
}

._1_yS5UP7el0aN4vntx3dx {
    padding: 0 !important;
    position: absolute !important;
    --steam-control-width: 242px !important;
    right: 170px !important;
    top: 8px !important;
}

._3vCzSrrXZzZjVJFZNg9SGu {
    width: fit-content !important;
    box-shadow: none !important;
    background: none !important;
    gap: 8px !important;
    flex: 0 !important;
    -webkit-app-region: no-drag;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1):hover + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2), ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1):hover + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(3), ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1):hover + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(3) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(4), ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1):hover + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(3) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(4) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(5)  {
    opacity: 0;
}