._39oUCO1OuizVPwcnnv88no ._1-9sir4j_KQiMqdkZjQN0u {	
    position: fixed !important;	
    top: 35px !important;	
    right: 0 !important;	
}	

._39oUCO1OuizVPwcnnv88no {	
    background: var(--color-dark) !important;	
}

._3Z3ohQ8-1NKnCZkbS6fvy {	
    height: 37px !important; 	
    min-height: 37px !important;	
}

._25lBLzuVeYAUG279up4xP8 {	
    color: var(--darkwhite) !important;	
}	
._2UyOBeiSdBayaFdRa39N2O {	
    padding: 0px 0px 4px !important;	
}

._1_yS5UP7el0aN4vntx3dx {	
    padding: 0 !important;	
    position: absolute !important;	
    --steam-control-width: 242px !important;	
    right: 170px !important;	
    top: 40px !important;	
}

._3vCzSrrXZzZjVJFZNg9SGu {
    width: fit-content !important;
    box-shadow: none !important;
    background: none !important;
    gap: 8px !important;
    flex: 0 !important;
}

._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1):hover + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2), ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1):hover + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(3), ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1):hover + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(3) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(4), ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(1):hover + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(3) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(4) + ._2UyOBeiSdBayaFdRa39N2O:nth-of-type(5)  {
    opacity: 1;
}

/* This allows for hover to work on this element.*/
/* Although this ruins dragging for the far-left where the menu is, it should be fine.*/
._3s0lkohH8wU2do0K1il28Y{
    -webkit-app-region: no-drag;
}

._3s0lkohH8wU2do0K1il28Y:hover > div {
    opacity: 1 !important;
} /* - Maple */