.title-area-icon.maximizeButton.windowControlButton svg line {
	display:none;
}

/* .DesktopUI .title-area-icon .SVGIcon_Maximize {
    height: 15px !important;
    width: 15px !important;
} */

.SVGIcon_X_Line, .SVGIcon_Minimize, .SVGIcon_Maximize {
    height: 13px !important;
    width: 13px !important;
}

/* Fix for the small x on some windows */
._1_vCR1dPfyJ7_yukwDqblf._240i58XQ0w78YFrd_p-9UY>.SVGIcon_X_Line {
    height: inherit !important;
    width: inherit !important;
}

/* Hide the View menu and other stuff */
._2UyOBeiSdBayaFdRa39N2O:nth-of-type(2),
._2UyOBeiSdBayaFdRa39N2O:nth-of-type(3),
._2UyOBeiSdBayaFdRa39N2O:nth-of-type(4),
._2UyOBeiSdBayaFdRa39N2O:nth-of-type(5) {
    margin-left: 7px !important;
    transition: opacity 0.3s ease-out;
    opacity: 0;
}