.DialogContent {
    background: var(--color-dark) !important;
}

.DialogButton {
    background: var(--color-light) !important;
}

.LclHwcOfHFpwObYMD1HLa {
    background: var(--color-dark) !important;
}

._134yW7SKfZYwmvwlUElGx- {
    background: var(--thegrey) !important;
}

._3DEhfTvEKwgLd4smd6QdaU {
    background: var(--color-light) !important;
    border-radius: 4px;
}

._1d8CbcBnA6t3lsxYdnMv1h {
    background: var(--color-light) !important;
}

img._24_AuLm54JVe1Zc0AApCDR._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
    border-radius: 4px;
}