.C9tvuqqEXGcrkcAtHrQ_R.PopupFullWindow._290hvyptb3mP0rOSaapjgZ.GameOverview {
    background: var(--color-dark) !important;
}

._27m9Qbg4ShilOgwvYZWV8l {
    background: var(--color-dark) !important;
}

._2wBK7MqJSrj6QCxf3357yL {
    background: var(--color-darker) !important;
}

._17TJ4vdOZjHL-bjbRUKzxp._3WMiI5PUctRy9VuvX4r5hj {
    background: var(--color-light) !important;
}

._2OwqXw1nhBL430bsYTeEr- {
    background: var(--color-light) !important;
}

._26Gmfe09NRsnF7eprTZYdY {
    background: var(--color-darker) !important;
}

.C9tvuqqEXGcrkcAtHrQ_R.PopupFullWindow._290hvyptb3mP0rOSaapjgZ.OverlayBrowser_Guides {
    background: var(--color-darker) !important;
}

._22LPPg9PMLlPRAP1u7N5mb {
    background: var(--color-dark) !important;
}

.C9tvuqqEXGcrkcAtHrQ_R.PopupFullWindow._290hvyptb3mP0rOSaapjgZ.OverlayBrowser_Browser {
    background: var(--color-darker) !important;
}

.aqvbkhC1ejt4s8QvWA-c5 {
    background: var(--darkergrey) !important;
    border-bottom: 1px solid #272727 !important;
}

.TSlxCkeUMGwzmg21_WU8-._1W4bbifjEN3KdqKEhpmies {
    background: var(--color-light) !important;
    border: none !important;
}

._2RI6oQrDKUNzBqhIk4zI {
    font-size: 13px !important;
}

.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8- {
    background: none !important; 
    border: none !important;
    border-radius: 3px !important;
}

.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8-:hover {
    background: var(--color-dark) !important;
}