.favoriteElement>.friend>div>div>.nibodjvvrm86uCfnnAn4g.ingame {
    border: solid var(--ingame) 2px !important;
    border-radius: 2px!important;
}

.favoriteElement>.friend>div>div>.nibodjvvrm86uCfnnAn4g.online {
    border: solid var(--online) 2px !important;
    border-radius: 2px!important;
}

.friendCategoryContainer>.friend>div>.nibodjvvrm86uCfnnAn4g.ingame {
    border: solid var(--ingame) 2px !important;
    border-radius: 2px!important;
}

.friendCategoryContainer>.friend>div>.nibodjvvrm86uCfnnAn4g.online {
    border: solid var(--online) 2px !important;
    border-radius: 2px!important;
}

.friendlistListContainer .friend .avatarHolder {
    padding-right: 0 !important;
}