._3pXasCUulX4jjqO79s4q_F._2MkHZqf7MrgW3f8qGHiI8Z {
    background: none !important;
}

.title-bar-actions.window-controls {
    display: none !important;
}

._39oUCO1OuizVPwcnnv88no ._1-9sir4j_KQiMqdkZjQN0u {
    right: 0px !important;
}