/* got this from laser */

._3yD46y5pd3zOGR7CzKs0mC div:nth-of-type(2) {
    display: none !important;
}

._3vCzSrrXZzZjVJFZNg9SGu ._1TdaAqMFadi0UTqilrkelR, ._3vCzSrrXZzZjVJFZNg9SGu ._2foCkpRXhqq0UGVE50BWqj, ._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 {
    background-color: var(--color-dark) !important;
    padding: 0px 12px !important;
    border-radius: 2px !important;
    min-width: 24px !important;
    min-height: 24px !important;
    max-height: 24px !important;
    display: flex !important;
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
}

._3vCzSrrXZzZjVJFZNg9SGu ._1TdaAqMFadi0UTqilrkelR:hover, ._3vCzSrrXZzZjVJFZNg9SGu ._2foCkpRXhqq0UGVE50BWqj:hover, ._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9:hover {
    background-color: var(--color-light) !important;
    transition: background-color .15s ease-out !important;
}

._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 ._2VtAqT03BpBsVdmxwptn9D {
    max-width: 180px !important;
    align-items: center !important;
}

._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 ._2VtAqT03BpBsVdmxwptn9D ._21vPQjHoo0uwud5lfCD_x- {
    margin: 0 !important;
    margin-top: 2px !important;
    box-shadow: none !important;
    height: 20px !important;
    width: 20px !important;
}

._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 ._2VtAqT03BpBsVdmxwptn9D ._2_FomluqqgQ2Hx8ON3AVep {
    margin: 0 !important;
}

._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 ._2VtAqT03BpBsVdmxwptn9D ._1sCy-pm412Smb0wJx0W-4, ._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 .ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y,
._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 ._2VtAqT03BpBsVdmxwptn9D ._2EQ7ghgqIdjKv9jsQC0Zq9, ._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 .ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y {
    padding-top: 0 !important;
}

.ip-YZhijAMZcuRoXBGiye {
    padding: 0px 0px 2px 0px !important;
}

._3vCzSrrXZzZjVJFZNg9SGu ._2iJsgdTIX9Tj23rWnB7Q-c, ._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 ._2VtAqT03BpBsVdmxwptn9D ._21vPQjHoo0uwud5lfCD_x-, 
._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 ._2VtAqT03BpBsVdmxwptn9D .IconBevel {
    display: none !important; 
}

._3vCzSrrXZzZjVJFZNg9SGu ._2foCkpRXhqq0UGVE50BWqj {
    order: var(2) !important;
}

._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 {
    order: var(1) !important;
}

._3vCzSrrXZzZjVJFZNg9SGu ._1TdaAqMFadi0UTqilrkelR {
    order: var(3) !important;
}

._3vCzSrrXZzZjVJFZNg9SGu ._2foCkpRXhqq0UGVE50BWqj ._3OhUxFVlQYr9W5ThxstR8k, ._3vCzSrrXZzZjVJFZNg9SGu ._1TdaAqMFadi0UTqilrkelR ._3OhUxFVlQYr9W5ThxstR8k {
    position: absolute !important;
    top: 32px !important;
    opacity: 0 !important;
    transition: opacity .25s !important;
    pointer-events: none !important;
    box-sizing: border-box !important;
    font-size: 13px !important;
    background-color: var(--grey-ish) !important;
    border-radius: 2px !important;
    padding: 6px 8px !important;
    box-shadow: 1px 1px 8px #0005, 2px 2px 16px 1px #0005 !important;
    width: fit-content !important;
    user-select: none !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

._3vCzSrrXZzZjVJFZNg9SGu ._2foCkpRXhqq0UGVE50BWqj:hover ._3OhUxFVlQYr9W5ThxstR8k, ._3vCzSrrXZzZjVJFZNg9SGu ._1TdaAqMFadi0UTqilrkelR:hover ._3OhUxFVlQYr9W5ThxstR8k {
    opacity: 1 !important;
}

._1_yS5UP7el0aN4vntx3dx > div:first-of-type {
    position: fixed;
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
}

._3GaHEQJW9B1Rlt0Ddz3E8D {
    position: fixed;
    bottom: 0;
    right: 0;
}